
h2 {
	color: #ececec;
	opacity:0.4;
	position: relative;
}

hr {
    border-width: thin;
    border-color: #e0e0e0;
}

.info ul {
    list-style-type: circle;
}

/********************/
/********************/


.jumbotron {
	background-color: white;
	background-image: url(../img/bg4.png);
}

.jumbotron h1 {	
    color: black;  /* Fallback: assume this color ON TOP of image */
    /*background: url(../img/bg4.png) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    font-family: 'Josefin Slab', serif;
    opacity: 0.6;
}

.majid-title h1 {
    color: black;  /* Fallback: assume this color ON TOP of image */
    /*background: url(../img/ssbg.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    /opacity: 0.7;
    font-family: 'Oswald', sans-serif;
}

.page-heading {
    padding-top: 30px;
}

.container-fluid {
    /*padding-top: -10px;
    padding-bottom: 20px; */
    font-family: 'Josefin Slab', serif;
}

.img-circle {
    height: 60%;
    width: 60%; 
}

.col-md-3 p, h2 {
    opacity: 0.8;
    color: #4f4f4f;
    
}

.col-md-6 {
	height: 100%;
	width: 100%;
}

.well {
    background-color: white;
	opacity: 0.9;
	color: #4f4f4f;
}

.tumblog h1 {
    font-family: 'Pacifico', cursive;
    color: #000;
}

.fade1 {
    opacity: .9;

}

.fade2 {
    opacity: .7;

}

.fade3 {
    opacity: .5;

}

