<div class="col-xs-12 nopadding">
    <img src="images/graphics/spudd1.jpg" class="img-responsive">
    <img src="images/graphics/kanye.jpg" class="img-responsive">
    <img src="images/graphics/scaddd.jpg" class="img-responsive">
    <img src="images/graphics/collage2.jpg" class="img-responsive">
    <img src="images/graphics/cogtsk.jpg" class="img-responsive">
    <img src="images/graphics/d2.jpg" class="img-responsive">
    <img src="images/graphics/pcover.jpg" class="img-responsive">
    <img src="images/graphics/gone.jpg" class="img-responsive">
    <img src="images/graphics/bbgcover.jpg" class="img-responsive">
    <img src="images/graphics/pflyer.png" class="img-responsive">
    <img src="images/graphics/paris.gif" class="img-responsive col-xs-6 nopadding">
    <img src="images/graphics/paris2.gif" class="img-responsive col-xs-6 nopadding">
</div>
