<div class="col-xs-6 col-sm-4">
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
</div>
<div class="col-xs-6 col-sm-4">
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
</div>

<div class="col-sm-4 hide-on-xs">
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
<h1>HALFPAST</h1>
</div>

